# **Assignment - Python Data Structure**

Data Types and Structure questions

Q-1 What are data structure, and why are they important ?

   SOL - Data Structure is like a storage for structuring and organising the data in a understandable formate. It is a way of arranging data on a computer so that it can be accessed and update efficiently. It is also used for accesing, managing and retrieving data.

Q-2 Explain the diffrence between mutable and immutable data types with examples ?

SOL - Mutable data types are data types in which we can change, update and delete data from data types as well as manage them.
Lists, sets,Dictionaries are the best examples of mutable data types.
On the other hand immutable data types are those in which we can't change anything after storing.
Tuples, strings are the best known as a immutable data types.

Q-3 What are the main difference between lists and tuples in python ?

SOL - The main difference between list and tuple is that in list we can modify data but in tuples we can'nt modify data.

Q-4 Describe how dictionaries store data ?

SOL - Dictionaries use key value function for storing the data.

Q-5 Why might you use set instead of a list in python ?

SOL - Set is known for it's uniqueness in data, So if I want my information organise and unique also get rid of data redundency so that I can use set for it. But in list there can be duplicacy in data which is not good for organise data.

Q-6 What is a string in python, and how it is different from list ?

SOL - String is a collection of alphabets in python or we can say that characters in between single ior double quotes in python. But the list is a sequence of items where any item can be anything.

Q-7 How do tuple ensure data integrity in python ?

SOL - Tuples are iummutable in nature so it can'nt be change or modify it ensure its content is reamin unchange throughout their lifecycle. It will gaurantieeng the integrity.

Q-8 What is a hash table, and how does it relate to dictionaries in python ?

SOL - A hash table is structure storage system for key value pairs in array formate. It will be having unique index value for each data value.

Q-9 Can list contain different data types in python ?

SOL - Yes, A list can contain different data types in python including string and float.

Q-10 Explain why strings are immutable in python ?

SOL - Immutability is something where we can store and manage our data easily and safely as well as immutability of python string is very usefull in hashing and creating the unique keys for dictionaries.
It will help with better efficiency, thread safety and performence optimization.

Q-11 What advantages do dictionaries offer over list for certain task ?

SOL - The main advantage of dictionaries is its key value feature. With the help of key we can identified every different data types with its key as well as we can get uniqueness in storing data.

Q-12 Describe a scenario where using a tuple will be preferable over list ?

SOL - If you want your data to store for long term also no one can change it so you can use tuple over list. Tuples are more fast and memory-efficient than list.

Q-13 How do sets handle duplicate values in python ?

SOL - Sets are immutable as well as unordered in python. It always work on do not duplicate values. Data can appear in different order every time they used.

Q-14 How does the "in" keyword work differently for list and dictionaries ?

SOL - The 'in' keyword in Python returns True if a certain element is present in a Python object, else it will return False. Also to check if a value is present in a list, tuple, range, string, etc. To iterate through a sequence in a for loop.

Q-15 Can you modify the elements of a tuple ? Explain why or why not ?

SOL - No, We can'nt change the element of a tuple because of its immutable nature.

Q-16 What is a nested dictionary, and give an example of its use case ?

SOL - Nested dictionary means dictionary inside a dictionary. Its use case is a shopping store having its substores for storing the data.

Q-17  Describe the time complexity of accessing elements in a dictionary ?

SOL - The average time complexity of accessing elements is O(1).

Q-18 In what situations are list preffered over dictionairies ?

SOL - Use a list if you have a number of related items which need to be accessed without a key - e.g. a list of person names.

Q-19 Why are dictionaries consider unordered and how does that affect data retrieval ?

SOL - When we declare a list say, L=[10,20,30,40], then element ‘10’ is at 0th position, element 20 is at 1st position and so on. All element in a list are ordered and the ordering starts from leftmost element in list and moves towards the right. But for dictionary is not possible to access its element using position as element in dictionary is not ordered. You need to provide ‘key’ to access the corresponding value of the ‘key’.

Q-20 Explain the difference between a list and a dictionary in terms of data retrieval ?

SOL - Lists are linear in nature whereas dictionaries stored the data in key-value pairs.

# Practical Question

Q-1 Write a code to create a string with your name and print it ?

In [2]:
str_1 = str(input("Enter your name "))

print("Your name is ", str_1)

Enter your name xyz
Your name is  xyz

Q-2 Write a code to find a length of the string "Hello world" ?

In [3]:
str_1 = "Hello World"

print(len(str_1))

11

Q-3 Write a code to slice the first three characters from the string "Python programming" ?

In [4]:
Str_1 = "Python Programming"

print(Str_1[0:3])

Pyt

Q-4 Write a code to convert the string "hello" to uppercase ?

In [5]:
str_1 = "hello"

str_1.upper()

'HELLO'

Q-5 Write a code to replace the word "apple" with "orange" in the string "I like apple" ?

In [8]:
str_1 = "I like apple"

str_2 = str_1.replace("apple", "orange")
print(str_2)

I like orange

Q-6 Write a code to create a list with numbers 1 to 5 and print it ?

In [53]:
num = []

for i in range(1,6):
  num.append(i)
print(num)

[1, 2, 3, 4, 5]

Q-7 Write a code to append the number 10 to the list [1,2,3,4] ?

In [17]:
list = [1,2,3,4]

list.append(10)
print(list)

[1, 2, 3, 4, 10]

Q-8 Write a code to remove the number 3 from the list [1,2,3,4,5] ?

In [18]:
list = [1,2,3,4,5]

list.remove(3)
print(list)

[1, 2, 4, 5]

Q-9 Write a code to access the second element in the list ['a','b','c','d'] ?

In [19]:
list = ['a','b','c','d']

print(list[1])

b

Q-10 Write a code to reverse the list [10,20,30,40,50] ?

In [20]:
list = [10,20,30,40,50]

list.reverse()
print(list)

[50, 40, 30, 20, 10]

Q-11 Write a code to create a tuple with the elements 10,20,30 and print it ?

In [23]:
elements = 10,20,30

print(elements)

(10, 20, 30)

Q-12 Write a code to access the first element of the tuple ('apple','banana','cherry') ?

In [25]:
elements = ('apple','banana','cherry')

print(elements[0])

apple

Q-13 Write a code count how many times the number 2 appear in the tuple (1,2,3,2,4,2) ?

In [26]:
tuple_1 = (1,2,3,2,4,2)

tuple_1.count(2)

3

Q-14 Write a code to find the index of the element 'cat' in the tuple ('dog', 'cat', 'rabbit') ?

In [27]:
elements = ('dog','cat','rabbit')

elements.index('cat')

1

Q-15 Write a code to check if the element 'banana' is in the tuple ('apple', 'orange', 'banana') ?

In [37]:
element = ('apple', 'orange', 'banana')

if 'banana' in element:
  print("Element present in the list.")
else:
  print("Not present")

Element present in the list.

Q-16 Write a code to create a set with the elements 1,2,3,4,5 and print it ?

In [42]:
elements = {1,2,3,4,5}
print(elements)

{1, 2, 3, 4, 5}

Q-17 Write a code to add the element 6 to the set {1,2,3,4} ?

In [43]:
element = {1,2,3,4}

element.add(6)
print(element)

{1, 2, 3, 4, 6}

Q-18 Write a code to create a tuple with the elements 10,20,30 and print it ?

In [44]:
element = 10,20,30

print(element)

(10, 20, 30)

Q-19 Write a code to access the first element of the tuple ('apple','banana','cherry') ?

In [45]:
element = ('apple','banana','cherry')

print(element[0])

apple

Q-20 Write a code count how many times the number 2 appear in the tuple (1,2,3,2,4,2) ?

In [46]:
element = (1,2,3,2,4,2)

element.count(2)

3

Q-21 Write a code to find the index of the element 'cat' in the tuple ('dog', 'cat', 'rabbit') ?

In [47]:
elements = ('dog','cat','rabbit')

elements.index('cat')

1

Q-22 Write a code to check if the element 'banana' is in the tuple ('apple', 'orange', 'banana') ?

In [48]:
element = ('apple', 'orange', 'banana')

if 'banana' in element:
  print("Element present in the list.")
else:
  print("Not present")

Element present in the list.

Q-23 Write a code to create a set with the elements 1,2,3,4,5 and print it ?

In [49]:
elements = {1,2,3,4,5}
print(elements)

{1, 2, 3, 4, 5}

Q-24 Write a code to add the element 6 to the set {1,2,3,4} ?

In [50]:
element = {1,2,3,4}

element.add(6)
print(element)

{1, 2, 3, 4, 6}